@model Trip_Advisor_Web.Models.ListOfPlacesModel
@{
    ViewBag.Title = "ListOfPlaces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    
    @if(ViewBag.CurrentlyAt == true)
    {
        <h2>We also recommend you:</h2>
        <br />
    }

    @for (int i = 0; i < Model.PlacesList.Count; i++)
    {
        <div class="panel panel-primary">
            <div class="panel-heading panel-info">
                @Html.ActionLink(@Model.PlacesList[i].Name, "GetPlace", "Place", new { placeId = Model.PlacesList[i].PlaceId }, new { @class = "link" })
            </div>
            <div class="panel-body">
                @Model.PlacesList[i].Rating
            </div>
        </div>
    }
</div>