
@{
    ViewBag.Title = "AdministratorPanel";
}

@if (Session["Id"] != null && (int)Session["Status"] == 10)
 {
    <h1 class="center" style="color:lavenderblush">Administrator panel</h1>

    <ul class="nav nav-tabs nav-stacked adminNav">
        <li class="liItem">
            <a class="col-lg-8 adminLinks" href="/Administrator/PlaceAdministration">
                Place administration<br />
            <label class="adminInfo"> ( Add, update or delete places. ) </label></a>
            <br />
            <label class="col-lg-8 adminInfo"></label>
        </li>
        <li class="liItem">
            <a class="col-lg-8 adminLinks" href="/Administrator/CityAdministration">
                City administration <br />
                <label class="adminInfo">Add, update or delete cities.</label>
            </a>
        </li>
        <li class="liItem">
            <a class="col-lg-8 adminLinks" href="/Administrator/CountryAdministration">
                Country administration <br />
                <label class="adminInfo">Add, update or delete countries.</label>
            </a>
        </li>
        <li class="liItem">
            <a class="col-lg-8 adminLinks" href="/Administracija/AdministracijaTagova">
                Administracija tagova <br />
                <label class="adminInfo">Mogućnost dodavanja novih tagova iz liste predloženih.</label>
            </a>
        </li>
    </ul>
}
else
{
    <h1>Access denied!</h1>
}


