body {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top:60px;
     background: url(Images/travel2.jpeg);
     background-size:100%;
}

* {
  border-radius: 1px !important;
  border-color:#ffffff;
}

.navbar{
    background-color:rgba(0, 0, 0, 0.59);
}

#Button1{
    margin-left:19%;
}


label{
    color:black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#selectSearch, #searchInput
{
   /*margin-left:200px;*/
    margin-top:10px;
    padding-top:5px;
    margin-bottom:5px;
    background-color:rgba(204, 112, 46, 0.45);
    border:0px;
    color:aliceblue;
    padding-left:1%;
}
#selectSearch
{
    margin-left:450px;
}
#searchInput
{
    margin-left:10px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.link {
    color: white;
}

.recommendation-panel{
    text-align:center;
}

.dropdown-select
{
    text-align:left;
    background-color:rgba(204, 112, 46, 0.45);
   
}

#dropdownSelect{
    background-color:rgba(204, 112, 46, 0.55);
    color:white;
     max-width:90%;
}

#dropdownSelect > li >a{
    color:white;
    max-width:95%;
}

#usernameLbl , #passwordLbl{
    color:white;
}


.action-group
{
    text-align:center;
}

/*#recommendationAdd
{
    text-align:center;
    align-content:center;
}*/


.lbl , .fc{
    margin-left:20px;
    margin-right:20px;
    max-width:80%;
    position:relative;
    left:5%;
    margin-bottom:5px;
}

#userPanelList{
   /* background-color:rgba(117, 204, 80, 0.4);*/
         background:rgba(0, 0, 0,0.5); 
   border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;

}

.currentlyList
{
   /* background-color:rgba(37, 181, 84, 0.74);*/
    background:rgba(0, 0, 0,0.6);
    border-radius:10px;
    margin:20px;
    text-align:center;
    padding:10px;
    color:white;


}

.followersList{
   /* background-color:rgba(37, 181, 84, 0.74);*/
    background:rgba(0, 0, 0,0.6);
    border-radius:10px;
    margin:20px;
    text-align:center;
    padding:10px;
    background:rgba(0, 0, 0,0.5);
    color:white;
}

.followersList > a , .currentlyList > a
{
    color:#a52c2c;
}


.currentLocation{
    text-align:center;
    /*background-color:rgba(37, 181, 84, 0.74);*/
   /* background:rgba(0, 0, 0,0.5);*/
    color:white;
    border-radius:10px;
    margin:10px;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    margin-top:8%;
}

#container
{
   border:2px solid #ccc;
    width:300px; 
    height: 100px; 
    overflow-y: scroll; 
    margin-left:50px;
    padding-left:50px
}


#profilePicture
{
    text-align:center;
}


.link
{
    margin-top:10px;
}

#followBtn{

}

#recommendPlaceRequest{
    margin-bottom:50px;
}

.recommCont
{
    max-width:70%;
    background:rgba(37, 181, 84, 0.44);
    padding:50px;
    position:relative;
    margin-left:15%;
}

.container {
    text-align:center;

}

.about{
    display:inline-block;
    background:rgba(0,0,0,0.5);
    color:white;
    padding:10px;
}

.formaPrijavaPocetna{
    margin-top:10%;
    margin-left:20%;
    padding-top:25px;
   background:rgba(0, 0, 0,0.5);
}

.usrPass{
   
}

.regDiv{
    text-align:center;
    background:rgba(0, 0, 0,0.5);
    padding-top:20px;
    padding-bottom:20px;
    margin-left:25%;
}

#username , #password , #confirmPassword, #email{
        margin-left:20%;
}

.regDiv > label{
    color:white;
}

#Password{
    margin-left:0px;
}

 #map {
        height: 400px;
        width: 95%;
 }

 .container > h2{
    background:rgba(0, 0, 0,0.5);
    color:white;
    max-width:92%;
    padding-bottom:5px;
    padding-top:5px

 }

 .col-lg-5 {
    background:rgba(0, 0, 0,0.5);
    padding:10px;

} 

 .cityPlaces{
      background:rgba(0, 0, 0,0.5);

 }

 .cityPlaces > h4{
     color:white;
 }


 .container > .panel > .panel-heading{
     background:rgba(1, 104, 131, 0.89);
 }

 h4 > a {
     color:rgb(204, 112, 46);
 }

 

 .usrLbl{
     color:white;
 }

.labelsInfo{
    color:rgb(165, 44, 44);

}


.placeDescription{
    background-color:rgba(0,0,0,0.5);
    color:white;
}


#indexPage{
    min-height:300px;

    color:white;
}

#indexPage > h1{
    font-family:Tahoma;
}

#indexPage > h4{
    font-family:Tahoma;
    color:rgba(37, 181, 84, 0.74);
    font-style:oblique;
 }

#indexPage > h4 > a{
    font-family:Tahoma;
    color:rgb(1, 134, 181);
    font-style:normal;
}


.indexContainer{
        background:rgba(0,0,0,0.5);
        min-height:350px;
        padding-top:10px;
        padding-left:10px;
        padding-right:10px;
}

#indexPage > p{
    font-family:Tahoma;
    font-style:normal;
}


.inboxModal{
    background:white;
}

.messageListCont{
    width:40%;
    float:left;
    /*box-shadow:2px 2px 2px black;*/
    height:100%;
    text-align:center;
}

.message{
    width:59%;
    float:right;
    height:100%;

}

.modal-body{
    min-height: 100px;
    overflow: hidden;
}

#listOfMessages{
    /* border:1px rgba(1, 104, 131, 0.49);   */
}

ul{
    padding-left:1px;
}

td{
    text-align:center;
}

.message{
}

tr{
  margin-top:1px;
  margin-bottom:2px;
}

.messageCard{
    /*box-shadow:1px 1px 1px black;*/
}



.messageDetails{
    /*box-shadow:1px 1px 1px black;*/
}


.promVideo{
    background:rgba(0,0,0,0.5);   
    padding:3.5%;
}

.flag{
    text-align:center;
    background:rgba(0,0,0,0.5);
    color:white;
    padding:2%;
}

.flagTh{
    align-content:center;
    text-align:center;
    margin-left:20%;
}

.lbls{
    color:white;
}

.adminTables{
    background-color:rgba(0,0,0,0.65);
}

.adminTables > tbody > tr > td{
    color:white;
}

.adminTables > thead > tr > th{
    color:sandybrown;
    text-align  :center;
}

#newPlcBtn , newCityBtn{
    margin-bottom:5px;
}

.adminNav{
    background:rgba(0,0,0,0.6);
    text-align:center;
    
}
.nav-tabs{
    text-align:center;
    align-content:center;
}

.adminLinks{
    text-align:center;
    margin-left:14%;
}

.adminInfo{
    color:wheat;
}

.liItem{
    /*background:rgba(0,0,0,0.5);
    display:inline-block;*/
    display:inline-block;
    height:auto;
    text-align:center;
align-content:center;   
 min-height:100px;
}

li{

}


#placeForm , #cityForm , #countryForm{
    background:rgba(0,0,0,0.65);
    text-align:center;
    color:greenyellow;
    padding:10px;
}
#placeForm > .form-group > label{
    color:lightgreen;
}

 #cityForm > .form-group > label {
        color: lightgreen;
    }

 #countryForm > .form-group > label{
    color:lightgreen;
}
