body {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top:100px;
     background: url(Images/travel2.jpeg);
     background-size:100%;
}

* {
  border-radius: 1px !important;
  border-color:#ffffff;
}

.navbar{
    background-color:rgba(0, 0, 0, 0.59);
}

#Button1{
    margin-left:19%;
}


label{
    color:black;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#selectSearch, #searchInput
{
   /*margin-left:200px;*/
    margin-top:10px;
    padding-top:5px;
    margin-bottom:5px;
    background-color:rgba(204, 112, 46, 0.45);
    border:0px;
    color:aliceblue;
    padding-left:18px;
}
#selectSearch
{
    margin-left:500px;
}
#searchInput
{
    margin-left:10px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.link {
    color: white;
}

.recommendation-panel{
    text-align:center;
}

.dropdown-select
{
    text-align:left;
    background-color:rgba(204, 112, 46, 0.45);
   
}

#dropdownSelect{
    background-color:rgba(204, 112, 46, 0.55);
    color:white;
     max-width:90%;
}

#dropdownSelect > li >a{
    color:white;
    max-width:95%;
}

#usernameLbl , #passwordLbl{
    color:white;
}


.action-group
{
    text-align:center;
}

/*#recommendationAdd
{
    text-align:center;
    align-content:center;
}*/


.lbl , .fc{
    margin-left:20px;
    margin-right:20px;
    max-width:80%;
    position:relative;
    left:5%;
    margin-bottom:5px;
}

#userPanelList{
    background-color:rgba(117, 204, 80, 0.4);
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;

}

.currentlyList
{
    background-color:rgba(37, 181, 84, 0.74);
    border-radius:10px;
    margin:20px;
    text-align:center;
    padding:10px;

}

.followersList{
    background-color:rgba(37, 181, 84, 0.74);
    border-radius:10px;
    margin:20px;
    text-align:center;
    padding:10px;
}

.followersList > a , .currentlyList > a
{
    color:#a52c2c;
}


.currentLocation{
    text-align:center;
    background-color:rgba(37, 181, 84, 0.74);
    border-radius:10px;
    margin:10px;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
}

#container
{
   border:2px solid #ccc;
    width:300px; 
    height: 100px; 
    overflow-y: scroll; 
    margin-left:50px;
    padding-left:50px
}


#profilePicture
{
    text-align:center;
}


.link
{
    margin-top:10px;
}

#followBtn{
    margin-top:10px;

}

#recommendPlaceRequest{
    margin-bottom:50px;
}

.recommCont
{
    max-width:70%;
    background:rgba(37, 181, 84, 0.44);
    padding:50px;
    position:relative;
    margin-left:15%;
}

.container {
    text-align:center;

}


.formaPrijavaPocetna{
    margin-top:10%;
    margin-left:20%;
    padding-top:25px;
   background:rgba(0, 0, 0,0.5);
}

.usrPass{
   
}

.regDiv{
    text-align:center;
    background:rgba(0, 0, 0,0.5);
    padding-top:20px;
    padding-bottom:20px;
    margin-left:25%;
}

#username , #password , #confirmPassword, #email{
        margin-left:20%;
}

.regDiv > label{
    color:white;
}

#Password{
    margin-left:0px;
}

 #map {
        height: 400px;
        width: 95%;
 }

 .container > h2{
    background:rgba(0, 0, 0,0.5);
    color:white;
    max-width:92%;
    padding-bottom:5px;
    padding-top:5px

 }

 .col-lg-5 {
    background:rgba(0, 0, 0,0.5);
    padding:10px;

} 

 .cityPlaces{
      background:rgba(0, 0, 0,0.5);

 }

 .cityPlaces > h4{
     color:white;
 }


 .container > .panel > .panel-heading{
     background:rgba(1, 104, 131, 0.89);
 }