
.desc{
    font-family:Tahoma;
    background-size:300px;
    padding-top:20px;
}

#changeInfoButton{

    margin-top:5px; 
    margin-bottom:5px;
}


#labela{
    float:left;
}


#pretrazi{
    float:right;
    display:none;
}


#grupa{
    align-content:center;
}

/*#traziInput{
    max-width:300px;
    float:right;
    position:relative;
    left:0px;
}*/

.forma-za-pretrazivanje-i-navigaciju{
    padding-top:40px;
}

#dugmePredmet{
    position:relative;
    left:28%;
    margin:20px;
}

#user{
  /*  background-color:rgba(119, 158, 203, 0.76);*/
    /*background-color:#aec6cf;*/
    background:rgba(0, 0, 0,0.7);
    
    border-radius:8px;
    padding:8px;
    margin-top:10px;
}

#profilePicture{
    margin-top:10px;

}

#change{
    margin:8px;
    position:relative;
    left:22%;

}

.opisKorisnika{
    background-color:rgba(255, 105, 97, 0.20);
    border-radius:8px;
    padding:5px;
}



fieldset{
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
}



legend{
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: initial;
    border-style: none;
    border-color: initial;
    width:auto;
}



}




.body-content{
    background:rgba(0,0,0,0.62);
   
   
}

.usrBtns{
    width:250px;
    background:rgba(103, 208, 121, 0.92);
    border:none;
}

.btnCont{
    padding-left:15%;
    padding-top:15%;
}

.popPlc{
    margin-bottom:10px;
}

#description{
   color: rgb(165, 44, 44);
}

#userPanelList{
    margin-left:3%;
}



#modalCompose{
 
}


#messageTable{
    table-layout:fixed;
    width: 100%;
}

#to{
    width:35%;
}

#user{
 
}