@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about">
    <div class="about">
        <h1>Software engineering project Trip Advisor</h1>
    </div>
    <h2>About us</h2>
    <div class="about">
        <p>14822 Lazar Nikolić - lazarnikolic94@rocketmail.com</p>
        <p>14833 Katarina Pavlović - kpavlovic574@gmail.com</p>
        <p>14824 Milan Nikolić -  m.n.milan@elfak.rs</p>
    </div>
</div>