@{
    ViewBag.Title = "About";
}



<h1>Software engineering project Trip Advisor</h1>
<h2>About us</h2>
<p>14809 Lazar Nikolić - lazar.nikolic@elfak.rs</p>
<p>14809 Katarina Pavlović - katarina.pavlovic@elfak.rs</p>
<p>14824 Milan Nikolić -  m.n.milan@elfak.rs</p>
